div.counter
    div.counter-item.counter-item--minus
        img(src="img/minus.svg", alt="")
    div.counter-number
        input(type="text" value="1")
    div.counter-item.counter-item--plus
        img(src="img/plus.svg", alt="")