nav
  div.logo
    a(href="https://formoza.pskov.ru/") 
      img(src="img/formoza-logo.png", alt="")
  ul
    li 
      a(href="about.html") О компании
    li
      a(href="payment.html") Расчет стоимости
    //- li
    //-   a(href="#") Презентации и ролики
    li
      a(href="partner.html") Партнеры
    li
      a(href="contact.html") Контакты
  div.btns
    a.btn(href="#") Заказать звонок
    a.btn(href="http://rf.lesohranitel.ru/", target="_blank") Войти в систему