footer
    div.wrapper
        div.logo
            a(href="https://formoza.pskov.ru/" target="_blank")
                img.lazy(data-src='img/formoza-logo.png' alt='logo')
        include ../includes/nav
        include ../includes/modal
