header
  div.header-top
    include ../includes/nav
    h1 Система дистанционного мониторинга и управления
  div.header-bottom
    div.header-bottom__description
      h2 «Лесохранитель»
      p крупнейшая в мире по количеству точек мониторинга с автоматическим определением лесных пожаров.
    div.header-bottom__info
      div.info-block
        p Больше <span>40</span> регионов
      div.info-block.info-block--mr
        p Больше <span>1.100</span> камер
      a.btn(href="#") Скачать презентацию
      div.info-block.info-block--document
        p Свидетельство о рег. ПЭВМ №2016661202 от 03.10.2016 номер в реестре российского ПО 3384 Приказ МинКомСвязи РФ №212 от 28.04.2017
    div.slider-info
      div.slider-info__slide
        img(src="", alt="")
        span 116
        p <span>Ленинградская</span> область
      div.slider-info__slide
        img(src="", alt="")
        span 116
        p <span>Ленинградская</span> область
      div.slider-info__slide
        img(src="", alt="")
        span 116
        p <span>Ленинградская</span> область
      div.slider-info__slide
        img(src="", alt="")
        span 116
        p <span>Ленинградская</span> область
      div.slider-info__slide
        img(src="", alt="")
        span 116
        p <span>Ленинградская</span> область
      div.slider-info__slide
        img(src="", alt="")
        span 116
        p <span>Ленинградская</span> область
      div.slider-info__slide
        img(src="", alt="")
        span 116
        p <span>Ленинградская</span> область
