mixin region(id, path, count, title, subtitle)
  - var subtitle = subtitle;
  div.slider-info__slide.swiper-slide(id=id)
    div.slider-info__slide-img
      img(src=path alt="")
    div.slider-info__slide-text
      span= count 
      p #[span= title] #{subtitle}

header.header
  include ../includes/earth
  div.header-logo
    img.lazy(data-src="img/formoza-main.png" alt='')
    img.lazy(data-src="img/lesohranitel-main.png", alt="")
  div.wrapper
    div.header-top
      include ../includes/nav
      h1 Система дистанционного мониторинга и управления
    div.header-bottom
      div.header-bottom__description
        h2 «Лесохранитель»
        p крупнейшая в мире по количеству точек мониторинга с автоматическим определением лесных пожаров.
      div.header-bottom__info
        div.info-block.info-block--bg
          img.lazy(data-src="img/planet.png" alt='')
          p Больше <span>40</span> регионов
        div.info-block.info-block--bg.info-block--bg-corner.info-block--mr
          img.lazy(data-src="img/camera.png" alt='')
          p Больше <span>1.100</span> камер
        a.btn(href="files/present.pdf") Скачать презентацию
        div.info-block.info-block--document
          p Свидетельство о государственной регистрации программы для ЭВМ №2015614900 от 29.04.2015г. зарегистрировано в реестре российского программного обеспечения №3384, Приказ №212 28.04.2017г.
      div.slider-info
        div.slider-prev
        div.slider-info-wrapper.swiper-container
          div.swiper-wrapper
            +region('LEN', 'img/info1.png', 116, 'Ленинградская', 'область')
            +region('NIJ', 'img/info5.png', 97, 'Нижегородская', 'область')
            +region('MSK', 'img/info3.png', 94, 'Московская', 'область')
            +region('PSK', 'img/info2.png', 93, 'Псковская', 'область')
            +region('SVE', 'img/info4.png', 84, 'Свердловская', 'область')
            +region('KRK', 'img/info12.png', 60, 'Красноярский', 'край')
            +region('YMN', 'img/info7.svg', 58, 'Ямало-Ненецкий', 'автономный округ')
            +region('TVR', 'img/info41.svg', 50, 'Тверская', 'область')
            +region('VOR', 'img/info6.png', 48, 'Воронежская', 'область')
            +region('KLJ', 'img/info17.png', 48, 'Калужская', 'область')
            +region('BRY', 'img/info8.png', 45, 'Брянская', 'область') 
            +region('ROS', 'img/info9.jpg', 42, 'Ростовская', 'область')   
            +region('NOV', 'img/info10.png', 36, 'Новгородская', 'область')
            +region('VLD', 'img/info11.png', 30, 'Владимирская', 'область')
            +region('BLG', 'img/info13.jpg', 27, 'Белгородская', 'область')
            +region('RK', 'img/info14.png', 27, 'Коми', 'Республика')
            +region('RS', 'img/info15.jpg', 26, 'Якутия', 'Республика Саха')
            +region('PK', 'img/info16.jpg', 25, 'Пермский', 'край')
            +region('RB', 'img/info18.jpg', 20, 'Бурятия', 'Республика')
            +region('LIP', 'img/info34.svg', 18, 'Липецкая', 'область')
            +region('RME', 'img/info19.jpg', 17, 'Марий Эл', 'Республика')
            +region('ARH', 'img/info20.png', 17, 'Архангельская', 'область')
            +region('VOL', 'img/info36.svg', 17, 'Волгоградская', 'область')
            +region('SML', 'img/info21.png', 15, 'Смоленская', 'область')
            +region('KOS', 'img/info37.svg', 13, 'Костромская', 'область')
            +region('SAR', 'img/info38.svg', 13, 'Саратовская', 'область')
            +region('HBR', 'img/info33.png', 12, 'Хабаровский', 'край')
            +region('SPB', 'img/info22.png', 10, 'Санкт-Петербург', 'город')
            +region('IVN', 'img/info23.png', 9, 'Ивановская', 'область')
            +region('KYS', 'img/info27.png', 9, 'Курская', 'область')
            +region('KSK', 'img/info24.png', 6, 'Краснодарский', 'край')
            +region('ZBK', 'img/info25.gif', 6, 'Забайкальский', 'край')
            +region('KYR', 'img/info26.png', 5, 'Курганская', 'область')
            +region('RCH', 'img/info28.png', 5, 'Чувашия', 'Республика')
            +region('AMR', 'img/info39.png', 4, 'Амурская', 'область')
            +region('SAH', 'img/info29.png', 4, 'Сахалинская', 'область')
            +region('YAR', 'img/info30.svg', 4, 'Ярославская', 'область')
            +region('RKA', 'img/info31.svg', 4, 'Карелия', 'Республика')
            +region('HMO', 'img/info32.svg', 3, 'Ханты-Мансийский', 'автономный округ')
            +region('RA', 'img/info33.svg', 2, 'Алтай', 'Республика')
            +region('KEO', 'img/info35.svg', 2, 'Кемеровская', 'область')
        div.slider-next