header
  div.header-top
    include ../includes/nav
    h1 Система дистанционного мониторинга и управления
  div.header-bottom
    h2 «Лесохранитель»
    p крупнейшая в мире по количеству точек мониторинга с автоматическим определением лесных пожаров.