header
  include ../includes/map
  div.header-top
    include ../includes/nav
    h1 Система дистанционного мониторинга и управления
  div.header-logo
    img(src="img/logos.png" alt='')
  div.header-bottom
    div.header-bottom__description
      h2 «Лесохранитель»
      p крупнейшая в мире по количеству точек мониторинга с автоматическим определением лесных пожаров.
    div.header-bottom__info
      div.info-block.info-block--bg
        img(src="img/planet.png" alt='')
        p Больше <span>40</span> регионов
      div.info-block.info-block--bg.info-block--bg-corner.info-block--mr
        img(src="img/camera.png" alt='')
        p Больше <span>1.100</span> камер
      a.btn(href="#") Скачать презентацию
      div.info-block.info-block--document
        p Свидетельство о рег. ПЭВМ №2016661202 от 03.10.2016 номер в реестре российского ПО 3384 Приказ МинКомСвязи РФ №212 от 28.04.2017
    div.slider-info
      div.slider-info__slide#LEN
        div.slider-info__slide-img
          img(src="img/info1.png" alt="")
        div.slider-info__slide-text
          span 116
          p <span>Ленинградская</span> область
      div.slider-info__slide#PSK
        div.slider-info__slide-img
          img(src="img/info2.png" alt="")
        div.slider-info__slide-text
          span 93
          p <span>Псковская</span> область
      div.slider-info__slide#MSK
        div.slider-info__slide-img
          img(src="img/info3.png" alt="")
        div.slider-info__slide-text
          span 89
          p <span>Московская</span> область
      div.slider-info__slide#SVE
        div.slider-info__slide-img
          img(src="img/info4.png" alt="")
        div.slider-info__slide-text
          span 84
          p <span>Свердловская</span> область
      div.slider-info__slide#NIJ
        div.slider-info__slide-img
          img(src="img/info5.png" alt="")
        div.slider-info__slide-text
          span 60
          p <span>Нижегородская</span> область
      div.slider-info__slide#VOR
        div.slider-info__slide-img
          img(src="img/info6.png" alt="")
        div.slider-info__slide-text
          span 55
          p <span>Воронежская</span> область
      div.slider-info__slide
        div.slider-info__slide-img
          img(src="img/info6.png" alt="")
        div.slider-info__slide-text
          span 116
          p <span>Ленинградская</span> область
