doctype html
html(lang="ru")
    block vars
        - var pageTitle='';
    block head
        head
            meta(charset="utf-8")
            title= pageTitle
            meta(name="viewport" content="width=device-width, user-scalable=no")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="icon" type="image/x-icon" sizes="32x32" href="img/favicon.ico")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css")
            link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
            link(rel="stylesheet" href="css/style.min.css")
    body
        div.wrapper.wrapper--index
            block header
                include header
            block content
            block footer
                include footer
            block scripts
                script(src='js/main.min.js')
                script(src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js")
                script(src="https://unpkg.com/swiper/js/swiper.min.js")
