doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Title your site
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css")
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include headerLogo
        block content
        block footer
            include footer
        block scripts
            script(src='js/main.min.js')
            script(src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js")