.earth {
    svg {
        position: absolute;
        top: 80px;
        right: 5px;
        transform: scale(0.8);
        
        .region {
            stroke: rgb(10, 255, 0);
            fill: transparent;
            &.include {
                fill: rgba(10, 255, 0, 0.6);
                &.active {
                    fill: rgba(230, 98, 0, 1);
                    stroke: rgb(255, 148, 59);
                }
            }
        }
    }

    
}