@import "../mixins/wrapper";

footer {
    @include wrapper();
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: 20px 0;
    .logo {
        width: 101px;
        height: 110px;
        img {
            width: 100%;
            height: auto;
        }
    }
    nav {
        flex-grow: 1;
        padding-right: 0;
        ul {
            li {
                a {
                    color: #000000;
                }
            }
        }
    }
}