@import "../utils/variables";
@import "../mixins/media";
@import "../mixins/btn";
@import "../mixins/wrapper";
@import "../mixins/substrate";
@import "../mixins/text";
@import "../mixins/slider";

header {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.header {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: -10px;
    left: 225px;
    width: 385px;
    height: 200px;
    background: url('../img/camera-lg.png') center no-repeat;
    background-size: contain;
    z-index: -1;
  }

  .logo {
    display: none;
  }

  .wrapper {
    @include wrapper();
    max-width: $wrapperSize;
  }
}

.header--logo {
  @include wrapper();
  &::after {
    display: none;
  }

  .logo {
    position: relative;
    display: block;
    margin-right: auto;

    a {
      position: absolute;
      top: -22px;
      left: 0;
      display: block;
      width: 80px;
    }
  }
}

.header-top {
  position: relative;
  margin-bottom: 40px;

  h1 {
    max-width: 600px;
    margin-left: 210px;
    color: #ffffff;
    font-family: $fontFamilySub;
    font-size: 46px;
    font-weight: 600;

    @media screen {
      @media (max-width: 1600px) {
        margin-left: 230px;
      }
    }
  }
}

.header-bottom {
  //padding: 0 80px;
  margin-bottom: 35px;
  h2 {
    @include substrate();
    position: relative;
    margin-bottom: 20px;
    font-family: $fontFamilySub;
    font-size: 57px;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 1;
  }
}

.header-bottom__description {
  p {
    position: relative;
    max-width: 576px;
    margin-bottom: 30px;
    padding-left: 30px;
    font-family: $fontFamilyDefault;
    font-size: 19px;
    font-weight: 400;
    color: #e6e6e6;
    &::after {
      position: absolute;
      content: '—';
      top: 0;
      left: 0;
    }
  }
}

.header-bottom__info {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  &::after {
    position: absolute;
    content: '';
    right: 270px;
    bottom: 153px;
    width: 250px;
    height: 100px;
    background: url('../img/quadro.png') center no-repeat;
    background-size: contain;
  }

  .info-block {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    padding: 20px;
    padding-top: 75px;
    border-radius: 4px;
    background-color: #ffffff;

    &::after {
      position: absolute;
      content: '';
      right: 10px;
      left: 10px;
      bottom: -10px;
      height: 10px;
      border-radius: 0 0 5px 5px;
      background-color: #d6d4d2;
    }

    p {
      font-family: $fontFamilySub;
      font-size: 17px;
      text-transform: uppercase;

      span {
        @include text-shadow();
        display: block;
        font-family: $fontFamilySub;
        font-size: 44px;
        font-weight: 800;
        line-height: normal;
      }
    }
  }

  .info-block--bg {
    width: 145px;
    background: url('../img/info-background.png') left bottom no-repeat;
    background-size: 100%;

    img {
      position: absolute;
      top: 0;
      left: -10px;
    }
  }

  .info-block--bg-corner {
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .info-block--mr {
    margin-right: 0;
  }

  .info-block--document {
    align-self: flex-end;
    max-width: 436px;
    padding: 15px 30px;
    margin: 0 50px;
    margin-right: 0;
    border-radius: 5px;
    z-index: 1;

    p {
      position: relative;
      padding: 0 0 0 10px;
      font-family: $fontFamilyDefault;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;

      &::after {
        position: absolute;
        content: '';
        top: 4px;
        left: -17px;
        width: 16px;
        height: 21px;
        background: url('../img/paper.png') center no-repeat;
        background-size: contain;
      }
    }

    &::after {
      top: -12px;
      right: unset;
      bottom: unset;
      left: 15px;
      border-radius: 0;
      border-bottom: 12px solid #fff;
      border-left: 10px solid transparent;
      background: transparent;
    }

    &::before {
      display: none;
    }
  }

  .btn {
    @include btn();
    position: relative;
    margin-left: 30px;
    padding: 20px;
    padding-right: 40px;
    white-space: nowrap;
    &::after {
      position: absolute;
      content: '';
      top: calc(50% - 6px);
      right: 15px;
      width: 12px;
      height: 12px;
      background: url("../img/down-arrow.png") center no-repeat;
      background-size: contain;
    }
  }
}

.slider-info {
  position: relative;
  padding: 0 40px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 1;

  .slider-prev,
  .slider-next {
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    outline: none;
    z-index: 2;
    cursor: pointer;
  }

  .slider-prev {
    left: -15px;
    background: url('../img/slider-prev.png') center no-repeat #e66200;
    background-size: 25%;
  }

  .slider-next {
    right: -15px;
    background: url('../img/slider-next.png') center no-repeat #e66200;
    background-size: 25%;
  }

  &__slide {
    display: inline-flex;
    justify-content: center;
    height: 70px;
    padding: 25px 0;
    font-family: $fontFamilySub;
    cursor: pointer;

    &:hover {
      background-color: rgba(230, 98, 0, 0.15);
    }

    &-img {
      display: inline-block;
      width: 50px;
      max-height: 70px;
      margin-right: 10px;

      img {
        width: 100%;
        max-height: 70px;
      }
    }

    // &-text {
    //   width: calc(100% - 50px);
    // }

    span {
      font-size: 28px;
      font-weight: bold;
      line-height: 0.86;
      color: #51b532;
    }

    p {
      font-family: $fontFamilyDefault;
      font-size: 13px;    
      line-height: 1.5;  
      color: #212121;

      span {
        display: block;
        font-size: 13px;  
        font-weight: bold;
        line-height: 1.5; 
        color: #212121;
      }
    }
  }
}

.header-logo {
  position: absolute;
  right: 175px;
  top: calc(50% - 355px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  img {
    position: relative;
    z-index: 0;
    &:first-child {
      margin-top: -20px;
    }
    &:last-child {
      margin-top: -170px;
      z-index: -1;
    }
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 35px 0;

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto 0 225px;
    list-style: none;

    li {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-family: $fontFamilyDefault;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .btns {
    .btn {
      @include btn();
      position: relative;
      margin-right: 15px;
      padding-left: 35px;
      &::after {
        position: absolute;
        content: '';
        top: calc(50% - 7px);
        left: 15px;
        width: 12px;
        height: 12px;
      }

      &:first-child {
        &::after {
          background: url("../img/phone.png") center no-repeat;
          background-size: contain;
        }
      }

      &:last-child {
        margin-right: 0;
        &::after {
          background: url("../img/logout.png") center no-repeat;
          background-size: contain;
        }
      }
      
      &--system {
        @include btn--unactive()
      }
    }
  }
}

.earth {
  position: absolute;
  width: 950px;
  height: 943px;
  right: 220px;
  top: -70px;
  transform: scale(0.82);
  &::after {
    position: absolute;
    content: '';
    top: calc(50% - 320px);
    left: calc(50% + 15px);
    width: 136px;
    height: 91px;
    background: url('../img/spacecraft.png') center no-repeat;
    background-size: contain;
  }
}