@import "../utils/variables";
@import "../mixins/media";
@import "../mixins/btn";
@import "../mixins/wrapper";
@import "../mixins/substrate";
@import "../mixins/text";
@import "../mixins/slider";

header {
  @include wrapper();
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  z-index: 1;
}

.header {
  .logo {
    display: none;
  }
  &::after {
    position: absolute;
    content: '';
    background: url('../img/header-bg.png') top center no-repeat;
    background-size: 100%;
    width: $wrapperSize;
    height: 1527px;
    top: 0;
    left: -80px;
    right: -80px;
    z-index: -1;
  }
}

.header--logo {
  &::after {
    display: none;
  }

  .logo {
    display: block;
    margin-right: auto;
  }
}

.header-top {
  position: relative;
  margin-bottom: 40px;
  &::after {
    position: absolute;
    content: '';
    top: 15px;
    left: -80px;
    width: 270px;
    height: 200px;
    background: url('../img/camera-lg.png') center no-repeat;
    background-size: contain;
  }

  h1 {
    margin-left: 230px;
    max-width: 600px;
    color: #ffffff;
    font-family: $fontFamilySub;
    font-size: 46px;
    font-weight: 600;
  }
}

.header-bottom {
  //padding: 0 80px;
  margin-bottom: 35px;
  h2 {
    @include substrate();
    margin-bottom: 20px;
    font-family: $fontFamilySub;
    font-size: 57px;
    font-weight: 800;
  }
  @include slider-bg();
}

.header-bottom__description {
  p {
    position: relative;
    max-width: 576px;
    margin-bottom: 30px;
    padding-left: 30px;
    font-family: $fontFamilyDefault;
    font-size: 19px;
    font-weight: 400;
    color: #e6e6e6;
    &::after {
      position: absolute;
      content: '—';
      top: 0;
      left: 0;
    }
  }
}

.header-bottom__info {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  &::after {
    position: absolute;
    content: '';
    right: -80px;
    bottom: 20px;
    width: 250px;
    height: 100px;
    background: url('../img/quadcopter.png') center no-repeat;
    background-size: contain;
  }

  .info-block {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    padding: 20px;
    padding-top: 75px;
    border-radius: 4px;
    background-color: #ffffff;

    &::after {
      position: absolute;
      content: '';
      right: 10px;
      left: 10px;
      bottom: -10px;
      height: 10px;
      border-radius: 0 0 5px 5px;
      background-color: #d6d4d2;
    }

    p {
      font-family: $fontFamilySub;
      font-size: 17px;
      text-transform: uppercase;

      span {
        @include text-shadow();
        display: block;
        font-family: $fontFamilySub;
        font-size: 44px;
        font-weight: 800;
        line-height: normal;
      }
    }
  }

  .info-block--bg {
    width: 145px;
    background: url('../img/info-background.png') left bottom no-repeat;
    background-size: 100%;

    img {
      position: absolute;
      top: 0;
      left: -10px;
    }
  }

  .info-block--bg-corner {
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .info-block--mr {
    margin-right: 0;
  }

  .info-block--document {
    align-self: flex-end;
    max-width: 436px;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 5px;
    z-index: 1;

    p {
      position: relative;
      padding: 0 0 0 10px;
      font-family: $fontFamilyDefault;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;

      &::after {
        position: absolute;
        content: '';
        top: 4px;
        left: -17px;
        width: 16px;
        height: 21px;
        background: url('../img/paper.png') center no-repeat;
        background-size: contain;
      }
    }

    &::after {
      top: -12px;
      right: unset;
      bottom: unset;
      left: 15px;
      border-radius: 0;
      border-bottom: 12px solid #fff;
      border-left: 10px solid transparent;
      background: transparent;
    }

    &::before {
      display: none;
    }
  }

  .btn {
    @include btn();
    position: relative;
    margin-left: 30px;
    padding: 20px;
    padding-right: 40px;
    white-space: nowrap;
    &::after {
      position: absolute;
      content: '';
      top: calc(50% - 6px);
      right: 15px;
      width: 12px;
      height: 12px;
      background: url("../img/down-arrow.png") center no-repeat;
      background-size: contain;
    }
  }
}

.slider-info {
  &__slide {
    display: inline-flex !important;
    justify-content: center;
    padding: 25px 0;
    font-family: $fontFamilySub;
    cursor: pointer;

    &:hover {
      background-color: rgba(230, 98, 0, 0.15);
    }

    &-img {
      display: inline-block;
      width: 50px;
      margin-right: 10px;
    }

    // &-text {
    //   width: calc(100% - 50px);
    // }

    span {
      font-size: 28px;
      font-weight: bold;
      line-height: 0.86;
      color: #51b532;
    }

    p {
      font-family: $fontFamilyDefault;
      font-size: 14px;    
      line-height: 1.5;  
      color: #212121;

      span {
        display: block;
        font-size: 14px;  
        font-weight: bold;
        line-height: 1.5; 
        color: #212121;
      }
    }
  }
}

.header-logo {
  position: absolute;
  right: -80px;
  top: calc(50% - 355px);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 35px 0;

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 60px 0 0;
    list-style: none;

    li {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-family: $fontFamilyDefault;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .btns {
    .btn {
      @include btn();
      position: relative;
      margin-right: 15px;
      padding-left: 35px;
      &::after {
        position: absolute;
        content: '';
        top: calc(50% - 7px);
        left: 15px;
        width: 12px;
        height: 12px;
      }

      &:first-child {
        &::after {
          background: url("../img/phone.png") center no-repeat;
          background-size: contain;
        }
      }

      &:last-child {
        margin-right: 0;
        &::after {
          background: url("../img/logout.png") center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}