@import "../utils/variables";
@import "../mixins/wrapper";
@import "../mixins/substrate";
@import "../mixins/block.scss";
@import "../mixins/slider.scss";

.main {
    @include wrapper();
    flex: 1 0 auto;
}

.section {
    margin-top: 35px;
    text-align: center;

    h2 {
        @include substrate();
        margin-bottom: 30px;
        font-family: $fontFamilySub;
        font-size: 46px;
        font-weight: 600;
    }

    h3 {
        display: inline-block;
        max-width: 1010px;
        margin: 0 auto;
        margin-bottom: 20px;
        font-family: $fontFamilySub;
        font-size: 28px;
        font-weight: bold;
    }

    &:last-child {
        margin-bottom: 50px;
    }

    &--slider {
        padding: 0 35px;
        &-bg {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background: url('../img/slider-bg.png') left center no-repeat;
                background-size: 100%;
                width: $wrapperSize;
                height: 900px;
                top: -145px;
                left: -80px;
                right: -80px;
                z-index: -1;
            }
        }
    }

    &--tabs {
        position: relative;
        display: flex;
        margin-top: 0;
        text-align: unset;
        &::after {
            position: absolute;
            content: '';
            left: -80px;
            top: 0;
            width: 851px;
            height: 900px;
            background: url('../img/map.png') no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }

    &--items {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            left: -80px;
            right: -80px;
            top: -40px;
            width: $wrapperSize;
            height: 1500px;
            background: url('../img/item-bg.png') no-repeat;
            background-size: cover;
            z-index: -1;
        }
    }

    &--video {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            left: -80px;
            top: 0;
            width: 851px;
            height: 900px;
            background: url('../img/map.png') no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }

    &--tab-content {
        display: none;
        &.active {
            display: block;
        }
        .content-container {
            display: none;
            &.active {
                display: block;
            }
            &#content-container-8 {
                padding: 0 100px;
                .content-block--def,
                .content-block--sub {
                    margin: 0;
                    font-family: $fontFamilyDefault;
                    font-size: 21px;
                    color: #ffffff;
                    padding: 5px 120px;
                    border-radius: 10px;
                }
                .content-block--sub {
                    width: 100%;
                    margin: 0 50px;
                    padding: 5px 20px;
                    font-weight: 700;
                }
            }
        }
        .content-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &--info {
                margin: 0 -30px;
            }
            &--row {
                margin: 0 -30px;
                .content-block {
                    width: calc(100% / 2 - 30px);
                    margin: 0 15px;
                    margin-bottom: 30px;
                }
            }
            &--center {
                justify-content: center;
            } 
        }
        .content-block {
            &--fw {
                width: 100%;
            }
            &--hw {
                width: 50%;
            }
            &--def {
                background: $defaultColor;
            }
            &--sub {
                background: $subColor;
            }
            &--info {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                width: calc(100% / 2 - 60px);
                margin: 0 30px 20px 30px;
                .info-block {
                    position: relative;
                    max-width: 560px;
                    margin-top: 15px;
                    padding: 15px 30px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
                    background-color: #ffffff;
                    text-align: left;
                    span {
                        font-family: $fontFamilySub;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #000000;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li {
                            padding: 0;
                            font-family: $fontFamilyDefault;
                            font-size: 17px;
                            text-transform: none;
                        }
                    }
                    p {
                        padding: 0;
                        font-family: $fontFamilyDefault;
                        font-size: 17px;
                        text-transform: none;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        top: -12px;
                        right: unset;
                        bottom: unset;
                        left: 15px;
                        border-radius: 0;
                        border-bottom: 12px solid #fff;
                        border-left: 10px solid transparent;
                        background: 0 0;
                    }
                }

                .image-block {
                    position: relative;
                    border-radius: 10px;
                    width: 100%;
                    height: 350px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        min-width: 100%;
                        min-height: 100%;
                        border-radius: 10px;
                    }
                }
            }
            &--substrate {
                @include substrate-block();
            }
            &--block-logo {
                @include block-logo();
            }
        }
        .content-text {
            font-family: $fontFamilyDefault;
            font-size: 21px;
        }
    }

    @include slider();
}

.slider {
    &-views {
        &__slide {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        width: 390px;
        @include substrate-block();
        p {
            font-family: $fontFamilyDefault;
            font-size: 17px;                  
            line-height: 1.56;                
            text-align: center;
            color: #212121;
        }
        a {
            @include btn--link();
        }
    }
    &__item--large {
        max-width: 910px;
        width: 100%;
        background-color: #ffffff;
        border: solid 4px #008b00;
        box-sizing: border-box;
        a {
            @include btn--link();
        }
        &::after {
            display: none;
        }
        @include media-laptop() {
            max-width: 835px;
        }
    }
    &__item--align {
        align-self: flex-start;
    }
}

.video {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        width: 390px;
        margin-bottom: 18px;
        padding: 10px 15px;
        font-family: $fontFamilyDefault;
        font-size: 18.5px;
        color: #ffffff;
        border-radius: 10px;
        background: $subColor;
        &-header {
            font-family: $fontFamilyDefault;
            font-size: 21px;
            font-weight: bold;
        }
        &-img--mt {
            margin-top: -10px;
        }
    }
    &__item--default {
        background: $defaultColor;
    }
    &__item--large {
        max-width: 620px;
        width: 100%;
    }
}

.tab-panel {
    position: relative;
    max-width: 425px;
    width: 100%;
    max-height: 730px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 20px 50px 0 rgba(0, 0, 0, 0.2);
    padding-right: 15px;
    &::after {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        left: 0;
        height: 25px;
        background: linear-gradient(0deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin: 0;
        padding-left: 0;
        height: 100%;
        text-align: left;
        list-style: none;
    }

    li { 
        padding: 10px 35px 10px 15px;
        font-family: $fontFamilyDefault;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.41;
        color: #212121;
        box-sizing: border-box;
        border: 5px solid transparent;
        cursor: pointer;
        span {
            font-weight: 600;
            color: #e66404;
        }
        &:nth-of-type(odd) {
            background-color: #d5ebcc;
        }
        &:nth-of-type(even) {
            background-color: #f3dfcc;
        }
        &.active {
            border: 5px solid #539423;
            background-color: #ffffff;
        }
    }
}

.tab-content {
    position: relative;
    width: calc(100% - 35px);
    margin-left: 35px;
    color: #ffffff;

    &__item {
        display: none;

        h2 {
            margin-bottom: 15px;
        }

        h3 {
            color: #212121;
        }

        &.active {
            display: block;
        }

        .item-header {
            &--tl {
                margin-right: auto;
            }
            &--tc {
                margin: auto;
                margin-bottom: 20px;
            }
        }

        .item-row {
            display: flex;
            flex-wrap: wrap;

            &--pr {
                padding-right: 170px;
            }

            &--fw {
                .item-row__text {
                    max-width: unset;
                    width: calc(50% - 20px);
                    margin-bottom: 10px;
                    font-size: 21px;
                    
                    span {
                        font-weight: 400;
                    }
                }

                .item-row__block--img {
                    width: 320px;
                    padding-top: 70px;
                    background: url('../img/row1-item4.png') bottom left no-repeat;
                    background-size: 100%;

                    img {
                        top: 5px;
                        left: -15px;
                        transform: scale(0.8);
                    }
                }

            }

            &--fc {
                display: flex;
                justify-content: flex-start;
                margin: 0 -20px;
                .item-row__block {
                    width: calc(100% / 2 - 40px);
                    margin: 0 20px 20px 20px;
                    align-items: center;
                    background: $defaultColor;
                    border-radius: 10px;
                    &--sub {
                        background: $subColor;
                    }

                    p {
                        width: 100%;
                        padding: 10px;
                        margin: 0;
                        color: #ffffff;
                        font-family: $fontFamilyDefault;
                        font-size: 21px;
                        font-weight: 400;
                        text-transform: none;
                    }
                }
            }

            &--hh {
                max-height: 400px;
            }

            &--border {
                border: 1px solid #e66200;
                border-radius: 5px;
                p {
                    padding: 10px 30px 10px 15px;
                    margin-bottom: 0;
                    background-color: #ffffff;
                    border-radius: 5px;
                    font-size: 17px;
                    font-weight: 500;
                    color: #212121;
                }
            }

            &__text {
                position: relative;
                margin-bottom: 20px;
                padding: 5px 15px;
                border-radius: 10px;
                background: $subColor;
                font-family: $fontFamilyDefault;
                font-size: 21px;
                font-weight: bold;
            }

            &__text--fw {
                flex-grow: 1;
                background: $defaultColor;            
            }

            &__text--hw {
                max-width: 304px;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }

            &__text--def {
                background: $defaultColor;
            }

            &__text--sub {
                background: $subColor;
            }

            &__text--tc {
                text-align: center;
            }

            &__text--pl {
                padding-left: 60px;
            }

            &__text--pr {
                padding-right: 40px;
            }

            &__text-bage {
                position: absolute;
                left: 0;
                top: -10px;
                padding: 5px 10px;
                background-color: $defaultColor;
                font-family: $fontFamilyDefault;
                font-size: 25px;
                font-weight: 700;
                border-radius: 5px;
            }

            &__text--tw {
                font-weight: 400;
            }

            &__block {
                position: relative;
                display: flex;
                align-items: flex-end;
                margin-right: 35px;
                margin-bottom: 25px;
                p {
                    padding: 0 0 15px 25px;
                    font-family: $fontFamilySub;
                    font-size: 17px;
                    color: #000000;
                    text-transform: uppercase;
                    span {
                        @include text-shadow();
                        display: block;
                        font-family: $fontFamilySub;
                        font-size: 37px;
                        font-weight: 800;
                        line-height: normal;
                    }
                }

                .info-block {
                    position: relative;
                    max-width: 520px;
                    margin-top: 15px;
                    padding: 15px 30px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
                    background-color: #ffffff;
                    span {
                        font-family: $fontFamilySub;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #000000;
                    }
                    p {
                        padding: 0;
                        font-size: 17px;
                        text-transform: none;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        top: -12px;
                        right: unset;
                        bottom: unset;
                        left: 15px;
                        border-radius: 0;
                        border-bottom: 12px solid #fff;
                        border-left: 10px solid transparent;
                        background: 0 0;
                    }
                }

                .image-block {
                    position: relative;
                    border-radius: 10px;
                    width: 100%;
                    height: 350px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        min-width: 100%;
                        min-height: 100%;
                        border-radius: 10px;
                    }
                }
            }

            &__block--pt {
                width: 320px;
                padding-top: 103px;        
                background: url('../img/bg-image-pt.png') left bottom no-repeat;
                background-size: 100%;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:first-child {
                    img {
                        top: 7px;
                    }
                }
            }

            &__block--bg {
                width: 320px;
                padding-top: 74px;
                background: url('../img/row2-item3.png') left bottom no-repeat;
                background-size: 100%;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:last-child {   
                    background: url('../img/row2-item4.png') left bottom no-repeat;
                    background-size: 100%;

                    img {
                        top: -15px;
                    }
                }
            }

            &__block--img {
                background: url('../img/row2-item2.png') left bottom no-repeat;
                background-size: 100%;

                img {
                    position: absolute;
                    top: -3px;
                    left: -30px;
                }
            }

            &__block--img-sm {
                width: 185px;
                margin-right: 20px;
                padding-top: 80px;
                background: url('../img/row1-item1.png') bottom left no-repeat;
                background-size: 100%;
                margin-bottom: 15px;

                img {
                    position: absolute;
                    top: -2px;
                    left: -6px;
                    transform: scale(0.9);
                }
            }

            &__block--fn {
                p span {
                    font-size: 21px;
                    span {
                        display: inline-block;
                        font-size: 44px;
                    }
                }
                &.item-row__block--pt {
                    width: 281px;
                    padding-top: 82px;
                    margin-right: 20px;
                    background: url('../img/row1-item2.png') bottom left no-repeat;
                    background-size: 100%;
                    margin-bottom: 15px;

                    img {
                        top: 0;
                    }
                    
                    &:last-child {
                        img {
                            top: -15px;
                            left: 10px;
                        }
                    }
                }
            }

            &__block--corner {
                img {
                    top: 20px;
                    left: -10px;
                }
            }

            &__block--column {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 0;
            }

            &__block--row {
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0 0 20px 0;
                padding: 10px;
                background: $defaultColor;
                border-radius: 10px;
                p {
                    max-width: 420px;
                    margin-right: 60px;
                    padding: 0;
                    font-family: $fontFamilyDefault;
                    font-size: 21px;
                    color: #ffffff;
                    text-align: left;
                    text-transform: none;
                }
                img {
                    width: calc(100% - 420px);
                    height: 100%;
                }
            }

            &__block--fg {
                flex-grow: 1;
            }

            &__block--info {
                position: relative;
                width: calc(100% / 3 - 40px);
                min-width: 230px;
                margin: 0 20px 20px 20px;
                padding: 30px 15px;
                font-family: $fontFamilyDefault;
                text-transform: uppercase;
                text-align: left;
                background-color: #ffffff;
                border-radius: 5px;
                box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
                &::after {
                    position: absolute;
                    content: '';
                    top: 5px;
                    left: 5px;
                    right: 5px;
                    bottom: 5px;
                    border: 1px solid #00a100;
                    border-radius: 5px;
                }

                p {
                    font-size: 17px;
                    color: #000000;
                    text-transform: none;
                }

                span {
                    @include text-shadow();
                    font-size: 21px;
                }

                img {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    z-index: 1;
                    &.item-image {
                        top: -10px
                    }
                }
            }
        }

        .item-column {
            display: flex;
            flex-direction: column;
            width: calc(50% - 40px);
            margin-right: 40px;

            .item-row__text {
                width: 100%;
                margin-bottom: 15px;
            }

            .item-row__block--img {
                margin: auto;
                margin-bottom: 15px;
            }

            &--fw {
                width: 100%;
            }
        }
    }

    &__item--first {
        &::after {
            position: absolute;
            content: '';
            top: -10px;
            right: 55px;
            width: 134px;
            height: 146px;
            background: url('../img/logo-lg.png') center no-repeat;
            background-size: contain;
        }
    }

    &__item--second {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            left: -35px;
            right: -80px;
            bottom: -170px;
            width: auto;
            height: 936px;
            background: url('../img/row2-bg.png') left bottom no-repeat;
            background-size: contain;
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: '';
            top: -10px;
            right: 55px;
            width: 134px;
            height: 146px;
            background: url('../img/logo-lg.png') center no-repeat;
            background-size: contain;
        }
    }

    &__item--third {
        text-align: center;
        .info-block {
            text-align: left;
        }
    }

    &__item--fourth {
        text-align: center;
        .info-block {
            text-align: left;
        }
    }

    &__item--fifth {
        text-align: center;
        .info-block {
            text-align: left;
        }
    }

    &__item--sixth {
        text-align: center;
        .info-block {
            text-align: left;
        }
        .item-row__block--column {
            align-items: center;
            padding: 10px;
            background: $defaultColor;
            border-radius: 10px;
            .item-row__text {
                margin: 0;
                margin-top: 10px;
                padding: 0;
                font-family: $fontFamilyDefault;
                font-size: 18px;
                background: transparent;
                color: #ffffff;
                text-transform: none;
            }
        }
        .item-row__block--fg {
            align-items: flex-start;
            padding: 0;
            background: transparent;
        }
    }

    &__item--eighth {
        text-align: center;
        .info-block {
            text-align: left;
        }
        .item-row--row {
            margin: 0 -20px;
            .item-row__block {
                @include substrate-block();
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100% / 2 - 40px);
                margin: 0 20px;
                margin-bottom: 30px;
                p {
                    margin: 0;
                    padding: 0 40px;
                    font-family: $fontFamilyDefault;
                    font-size: 18px;
                    text-transform: none;
                }
            }
        }
    }

    &__item--ninth {
        text-align: center;
        .info-block {
            text-align: left;
        }
        .item-row--row {
            margin: 0 -30px;
            margin-top: 10px;
            margin-bottom: 30px;
            flex-wrap: wrap;
        }
        .item-row__block {
            display: block;
            p {
                padding: 0;
            }
        }
    }

    &__item--eleventh {
        text-align: center;
        .info-block {
            text-align: left;
        }
        .item-row__block--substrate {
            @include substrate-block();
            margin-right: 0;
            p {
                margin: 0;
                padding: 0;
                font-family: $fontFamilyDefault;
                font-size: 18px;
                text-transform: none;
            }
        }
    }

    &__item--twelfth {
        text-align: center;
        .info-block {
            text-align: left;
        }
    }

    &__item--thirteenth {
        text-align: center;
        .info-block {
            text-align: left;
        }
    }

    &__item--fourteenth {
        text-align: center;
        .item-row__block--column {
            align-items: center;
            padding: 10px;
            background: $defaultColor;
            border-radius: 10px;
            .item-row__text {
                margin: 0;
                margin-top: 10px;
                padding: 0;
                font-family: $fontFamilyDefault;
                font-size: 18px;
                background: transparent;
                color: #ffffff;
                text-transform: none;
            }
        }
        .item-row__block--fg {
            align-items: flex-start;
            padding: 0;
            background: transparent;
        }
        .item-row--row {
            margin: 0 -15px;
            .item-row__block--column {
                &:first-child {
                    background: $subColor;
                }
            }
            .item-row__block {
                width: calc(100% / 2 - 30px);
                margin: 0 15px;
                margin-bottom: 20px;
            }
        }
    }

    &__item--fifteenth {
        text-align: center;
        .info-block {
            text-align: left;
        }
    }

    &__item--sixteenth {
        text-align: center;
        .info-block {
            text-align: left;
        }
    }
}

.main--partner {
    position: relative;
    padding-top: 30px;
    &::after {
        position: absolute;
        content: '';
        width: $wrapperSize;
        height: 1256px;
        top: -120px;
        left: -80px;
        right: -80px;
        background: url('../img/partner-bg-top.png') left bottom no-repeat;
        background-size: 100%;
        z-index: -1;
    }
    &::before {
        position: absolute;
        content: '';
        width: $wrapperSize;
        height: 922px;
        left: -80px;
        right: -80px;
        bottom: -20px;
        background: url('../img/partner-bg-bottom.png') left bottom no-repeat;
        background-size: 100%;
        z-index: -1;
    }
    h1 {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    h2 {
        font-size: 35px;
        font-family: $fontFamilySub;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        span {
            @include substrate();
            padding: 5px 15px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.partners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: $fontFamilyDefault;
    &-item {
        @include substrate-block();
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 390px;
        padding: 10px 5px;
        margin-left: auto;
        margin-right: auto;
        h3 {
            margin: 10px 0;
            margin-bottom: 5px;
            span {
                display: block;
                font-size: 21px;
                font-weight: 600;
                &:first-child {
                    font-size: 17px;
                }
            }
        }

        p {
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 40px;
        }

        a {
            @include btn--contact();
            margin-bottom: 10px;
            color: #000000;
        }
    }
}

.main--contact {
    position: relative;
    padding-top: 30px;
    text-align: center;
    z-index: auto;
    &::after {
        position: absolute;
        content: '';
        width: $wrapperSize;
        height: 795px;
        top: -120px;
        left: -80px;
        right: -80px;
        background: url('../img/contact-bg-top.png') left bottom no-repeat;
        background-size: 100%;
        z-index: -1;
    }

    h1 {
        @include substrate();
        padding: 5px 15px;
        font-size: 35px;
        font-family: $fontFamilySub;
        font-weight: 900;
        text-transform: uppercase;
    }

    h2 {
        margin-top: 15px;
        font-family: $fontFamilySub;
        font-size: 20px;
        font-weight: 600;
    }

    .map {
        position: relative;
        margin-left: -80px;
        margin-right: -80px;
        margin-bottom: -70px;
        height: 680px;
        background: url('../img/contact-bg-bottom.png') center no-repeat;
        background-size: cover;
        z-index: -1;
        &::after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            height: 50px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        }

        &::before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            height: 120px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
        }
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: $fontFamilyDefault;
    &-item {
        padding: 5px 15px;
        width: 400px;
        margin-bottom: 20px;
        background-color: rgba(121, 121, 121, 0.8);
        border-radius: 10px;
        img {
            display: block;
            margin: auto;
        }

        h3 {
            padding: 0 10px;
            color: #ffffff;
        }

        p,
        a {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;
            font-family: $fontFamilyDefault;
            font-weight: 700;
            color: #ffffff;
            img {
                position: absolute;
                top: calc(50% - 10px);
                left: 0;
                width: 20px;
                height: 20px;
            }
        }
        &--main {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: $subColor;
            text-align: left;
        }
    }

    &-item__image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
    }
}