extends common/layoutSub

block content
    main.main.main--about
        h1 Формоза-Сервис
        p — профессиональная IT- компания
        section.section.section--info
            .info
                .info-item
                    h3 Квалификация и опыт
                    p специалистов ФОРМОЗЫ подтверждены не только государственными лицензиями, международными сертификатами, но и долгосрочными партнерскими отношениями с нашими Заказчиками.
                .info-item
                    h3 Наша специализация
                    p комплексные современные решения в IT-сфере: от простой автоматизации учета до построения региональных систем автоматизированного дистанционного мониторинга лесных пожаров.
                .info-item
                    h3 В своей работе ФОРМОЗА
                    p всегда ориентируется на потребности Заказчиков, предлагая наиболее выгодные и подходящие их требованиям решения и технологии.    
            .info.info--headers
                .info-item
                    h2 Комплексность наших услуг сокращает Ваши затраты и повышает эффективность работы.
                    p Нам доверяют сложные большие проекты по всей стране, потому что компания ФОРМОЗА-СЕРВИС:
                .info-item
                    ul 
                        li Надежная 
                        li Гибкая 
                        li Быстрая 
                        li Профессиональная 
                        li Инновационная 
                        li Технологичная 
                        li Комплексная 
        section.section.section--cicle
            h2 Мы своими силами профессионально выполняем весь цикл работ:
            .cicle
                .cicle-item
                    img(src="img/cicle1.png", alt="")
                    span ПИР
                    p Проектно-изыскательские работы
                .cicle-item
                    img(src="img/cicle2.png", alt="").cicle-item__img.cicle-item__img--top 
                    span СМР
                    p Строительно-монтажные работы
                .cicle-item
                    img(src="img/cicle3.png", alt="")
                    span ПНР
                    p Пуско-наладочные работы
                .cicle-item
                    img(src="img/cicle4.png", alt="")
                    span ТО
                    p Техническое обслуживание
                .cicle-item
                    img(src="img/cicle5.png", alt="")
                    span ПО
                    p Поставка оборудования – разработка и внедрение
        section.section.section--integration
            h2 Интеграционные проекты и реализация от проектирования до обслуживания систем:
            .integration
                .integration-row
                    .integration-item
                        img(src="img/integr1.png", alt="")
                        p Видеонаблюдения с видеоаналитикой 
                    .integration-item
                        img(src="img/integr2.png", alt="")
                        p Дистанционного мониторинга (видеокамеры, тепловизоры, радары, космомониторинг, БПЛА и т.д.)
                    .integration-item
                        img(src="img/integr3.png", alt="")
                        p Кондиционирования и вентиляции
                .integration-row
                    .integration-item
                        img(src="img/integr4.png", alt="")
                        p Контроля доступа и электронных очередей 
                    .integration-item
                        img(src="img/integr5.png", alt="")
                        p Комплексного управления с мониторингом и оповещением (БГ, 112, мониторинг лесных пожаров, силы и средства, контроль нарушения правил дорожного движения, безопасность на транспорте, на водных объектах, подсчет и идентификация загруженного и незагруженного транспорта и т.д.) 
                .integration-row
                    .integration-item
                        img(src="img/integr6.png", alt="")
                        p Оповещения, охранно-пожарной и тревожной сигнализации
                    .integration-item
                        img(src="img/integr7.png", alt="")
                        p Связи (кабельные и радиорелейные линии, узлы, радиосвязь, коммутационное оборудование) 
                    .integration-item
                        img(src="img/integr8.png", alt="")
                        p Быстровозводимые модульные сооружения (гаражи, ангары и т.д.)
        section.section.section--service-center
            h2 + Сервисный центр по ремонту и обслуживанию техники
            .service-center
                .service-center-item
                    img(src="img/service-center1.png", alt="")
                    p Более 200 специалистов, обладающих профессиональными сертификатами и допусками на определенные виды работ. 
                .service-center-item.service-center-item--def
                    img(src="img/service-center2.png", alt="")
                    p Собственный транспорт и профессиональное оборудование для оперативного проведения работ на территории всех регионов России. 
                .service-center-item
                    img(src="img/service-center3.png", alt="")
                    p Производственный потенциал позволяет ежегодно проектировать и прокладывать более 3 000 км кабельных и волоконно-оптических линий связи.
                .service-center-item.service-center-item--fw
                    img(src="img/service-center4.png", alt="")
                    p Индивидуальный подход к каждому проекту позволяет эффективно сотрудничать с заказчиками любых масштабов: от крупнейших операторов связи до индивидуальных предпринимателей. 
                .service-center-item.service-center-item--border
                    img(src="img/service-center5.png", alt="")
                    p ООО «Формоза-Сервис» обеспечивает гарантийное и постгарантийное обслуживание всех созданных систем, а также техническую поддержку и обучение пользователей.
                    p Мы любим свою работу и ценим доверие наших Заказчиков.
        section.section.section--licenses
            h2 Лицензии
            .licenses
                .licenses-item
                    img(src="img/licenses1.png", alt="")
                    p Лицензия на осуществление работ с использованием сведений, составляющих государственную тайну. 
                .licenses-item
                    img(src="img/licenses2.png", alt="")
                    p Лицензия на осуществление деятельности, связанной с распространением и техническим обслуживанием шифровальных (криптографических) средств, а также оказанием услуг в области шифрования информации. 
                .licenses-item.licenses-item--row
                    img(src="img/licenses3.png", alt="")
                    p Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств пожарной безопасности зданий и сооружений. 
        section.section.section--certificate
            h2 Сертификаты
            .certificate
                .certificate-item.certificate-item--def
                    img(src="img/certificate1.png", alt="")
                    p Сертификат на собственную электролабораторию. 
                .certificate-item.certificate-item--def
                    img(src="img/certificate2.png", alt="")
                    p Сертификаты специалистов по технологиям защиты информации (VIPNet, Фактор-С и т.д.)
                .certificate-item.certificate-item--def
                    img(src="img/certificate3.png", alt="")
                    p Сертификаты специалистов по промышленному альпинизму и т.д.
                .certificate-item.certificate-item--def
                    img(src="img/certificate4.png", alt="")
                    p Сертификаты специалистов в области «Исследования информационных компьютерных средств» с правом выдачи заключения компьютерно-технической экспертизы.
        section.section.section--evidence
            h2 Свидетельства
            .evidence
                .evidence-item.evidence-item--row
                    img(src="img/evidence1.png", alt="")
                    p Свидетельства о допуске к определенным видам работ, которые оказывают влияние на безопасность объектов капитального строительства (СРО на строительство и проектирование). 
                .evidence-item
                    img(src="img/evidence2.png", alt="")
                    p ООО «ФОРМОЗА-СЕРВИС» - член Ассоциации Разработчиков Программных Продуктов «Отечественный софт» - крупнейшего объединения российских производителей программного обеспечения. 
                .evidence-item.evidence-item--def
                    img(src="img/evidence3.png", alt="")
                    p ООО «ФОРМОЗА-СЕРВИС» - золотой партнёр по поставке и разработке приложений для камер шведского производителя AXIS Communications.
        section.section.section--patent
            h2 Патенты
            .patent
                .patent-item.patent-item--def
                    p Патент на изобретение RU 2650347 C1
                    p Федеральная служба по интеллектуальной собственности РФ
                    p.patent-item__text СПОСОБ РАСПОЗНАВАНИЯ ПРИРОДНЫХ ПОЖАРОВ В ПРИГОРИЗОНТНЫХ ОБЛАСТЯХ
                .patent-item.patent-item--def
                    p Патент на изобретение RU 2646936 C1
                    p Федеральная служба по интеллектуальной собственности РФ
                    p.patent-item__text СПОСОБ ОПРЕДЕЛЕНИЯ КООРДИНАТ ОБЪЕКТОВ
                .patent-item.patent-item--row.patent-item--def
                    p Патент на полезную модель RU 176065 U1
                    p Федеральная служба по интеллектуальной собственности РФ
                    p.patent-item__text ВИДЕОКАМЕРА ДЛЯ РАННЕГО ОБНАРУЖЕНИЯ ПРИРОДНОГО ПОЖАРА