extends common/layout

block vars
  - var pageTitle = 'Лесохранитель - система дистанционного мониторинга и управления'

block content
  main.main.main--index
    div.wrapper
      section.section.section--tabs#tabs
        div.tab-panel#tab-panel
          ul.tab-panel-wrapper
            li.active <span>01.</span> Автоматизированный видеомониторинг пожаров онлайн с точным определением координат и моментальным оповещением
            li <span>02.</span> Автоматизированный мониторинг и управление силами и средствами с маршрутизацией, выдачей и контролем заданий в режиме онлайн
            li <span>03.</span> Медиаархив видеоданных и зафиксированных событий
            li <span>04.</span> Географическая информационная система
            li <span>05.</span> Отображение и учёт событий всех видов мониторинга
            li <span>06.</span> Подсистема приема и регистрации обращений граждан
            li <span>07.</span> Система автоматизированного оповещения
            li <span>08.</span> Интеграция с БГ и 112
            li <span>09.</span> Подсистема коммуникаций (чат, голосовые звонки, видео звонки, видеоконференции, обмен файлами)
            li <span>10.</span> Подсистема интеграции комплексов дистанционного обнаружения, в том числе на базе беспилотных летательных аппаратов (БПЛА)
            li <span>11.</span> Учет мероприятий противопожарного назначения
            li <span>12.</span> Оперативный учет и формирование отчётности 
            li <span>13.</span> Подсистема обработки и визуализации аналитической информации
            li <span>14.</span> Видеостена
            li <span>15.</span> Расчёт класса пожарной опасности и метеоданные  
            li <span>16.</span> Моделирование распространения пожара в реальных погодных условиях
            li <span>17.</span> Управление наземным и авиационным патрулированием
            li <span>18.</span> Модуль интеграции с фотоловушками
        div.tab-content
          div.tab-content__item.tab-content__item--first.active
            h2.item-header.item-header--tl Комплексная платформа
            h3.item-header.item-header--tl Каждая точка мониторинга
            div.item-row
              div.item-row__block.item-row__block--fn.item-row__block--img-sm
                img(src="img/row-img5.png" alt="")
                p Радиус <span>до <span>35</span>км</span>
              div.item-row__block.item-row__block--fn.item-row__block--pt.item-row__block--corner
                img(src="img/row-img6.png" alt="")
                p Площадь <span>до <span>200</span>тыс.га</span>
              div.item-row__block.item-row__block--fn.item-row__block--pt
                img(src="img/row-img7.png" alt="")
                p Обзор <span><span>360 ̊̊ </span> <span>10</span>мин</span>
            div.item-row.item-row--fw
              div.item-column
                div.item-row__block.item-row__block--fn.item-row__block--img
                  img(src="img/row-img8.png" alt="")
                  p Погрешность координат дыма <span>не более <span>150</span>м</span>
                p.item-row__text.item-row__text--hw Автоматическое обнаружение <span>пожара на ранней стадии</span> в дневное и ночное время
                p.item-row__text.item-row__text--hw.item-row__text--def Все методы оповещения операторов и пользователей системы: <span>световой и звуковой сигнал, смс, электронная почта, мессенджеры</span>
              div.item-column
                p.item-row__text.item-row__text--hw Минимальные временные <span>затраты оператора за счёт</span> групповой обработки «дым-точек»
                p.item-row__text.item-row__text--hw.item-row__text--def <span>Система реагирует</span> на белый, и на чёрный дым <span>на лесные, степные,техногенные пожары</span>
                p.item-row__text.item-row__text--hw <span>Рекомендуемое</span> количество специалистов  – 1 диспетчер на <span>каждые</span> 30 камер 
                p.item-row__text.item-row__text--hw.item-row__text--def Время хранения архива записей неограниченно <span>(зависит от ёмкости жестких дисков)</span>  
          div.tab-content__item.tab-content__item--second
            h2.item-header.item-header--tl Комплексная платформа
            div.item-row.item-row--pr
              p.item-row__text.item-row__text--hw Работаем с разными датчиками ГЛОНАСС
              p.item-row__text.item-row__text--hw Выдача и контроль заданий онлайн
              p.item-row__text.item-row__text--fw Полная визуализация, детализация, управление и отчётность по маршрутам:
            div.item-row
              div.item-row__block.item-row__block--pt
                img(src="img/row-img1.png" alt="")
                p Автомобилей <span>спец.техники</span> (с учётом пробок)
              div.item-row__block.item-row__block--pt.item-row__block--img
                img(src="img/row-img2.png" alt="")
                p Беспилотных <span>летательных</span> аппаратов
              div.item-row__block.item-row__block--bg
                img(src="img/row-img3.png" alt="")
                p А также <span>Авиапатрулей</span>
              div.item-row__block.item-row__block--bg
                img(src="img/row-img4.png" alt="")
                p И ещё <span>Сотрудников</span>
            div.item-row.item-row--border 
              p.item-row__text Например, в Московской области к Лесохранителю подключены более 900 автотранспортных средств, 30 беспилотных летательных аппаратов, и 30 сотрудников с мобильными приложениями (в плане 2020 года – более 1000).
          div.tab-content__item.tab-content__item--third
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Медиа Архив видеоданных и зафиксированных событий #[span.item-row__text-bage 03.]
              p.item-row__text.item-row__text--tc.item-row__text--fw  Медиа Архив работает со всеми типами данных и с картографической привязкой упорядоченно хранит всю информацию системы: маршруты патрулей, события, реакцию пользователей, видео, фото, и т.д.
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row3-img1.png", alt="")
                div.info-block
                  span Пример данных их архива:   
                  p Доступ к записям потенциально опасных объектов, найденных автоматической системой - оповещение в почте и записи в системе
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row3-img2.png", alt="")
                div.info-block
                  span Пример данных их архива:   
                  p Отчёт о выполненной миссии беспилотника: фотографии, маршрут, точки съемки, полигон интереса, правило склейки
          div.tab-content__item.tab-content__item--fourth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Географическая информационная система #[span.item-row__text-bage 04.]
            div.item-row
              div.item-row__block.item-row__block--row
                p Карты, используемые в системе, являются векторными многослойными, где к каждому объекту может быть привязана информация (лётные карты, лесничества, силы и средства, арендные участки, вырубки, посадки, дорожная сеть с текущими работами, мосты, зоны отдыха, объекты ЖКХ и т.д.).
                img(src="img/row4-img1.png", alt="")
            div.item-row.item-row--fc
              div.item-row__block.item-row__block--sub
                p Слои могут быть созданы в Лесохранителе и периодически обновляться «своими силами» или по заказу, а также могут быть подключены любые.
              div.item-row__block
                p Публичная кадастровая карта и все доступные на сегодняшний день подосновы есть в системе.
              div.item-row__block
                p В Лесохранитель могут быть подключены топо- и ортофотопланы, векторные слои и базы данных других систем.
              div.item-row__block.item-row__block--sub
                p В «Лесохранителе» используются Метеоданные из открытых официальных источников. Возможно размещение и подключение к Лесохранителю метеостанций Заказчика.
          div.tab-content__item.tab-content__item--fifth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Отображение и учет событий всех видов мониторинга #[span.item-row__text-bage 05.]
            div.item-row.item-row--table
              div.item-row__block
                p.item-header Авиационный
                ul
                  li #[span -] Самолеты 
                  li #[span -] Вертолеты
                img(src="img/row5-img1.png", alt="")
              div.item-row__block.item-row__block--center
                p.item-header Наземный
                ul
                  li #[span -] Наблюдатель на ПНВ
                  li #[span -] Пеший патруль
                  li #[span -] Автомобильный патруль
                  li #[span -] Видеокамеры
                  li #[span -] Тепловизоры
                  li #[span -] Звуковые и дымовые датчики
                  li #[span -] Беспилотники
                img(src="img/row5-img2.png", alt="")
              div.item-row__block
                p.item-header Космический
                ul
                  li #[span -] Космические аппараты дистанционного зондирования Земли
                img(src="img/row5-img3.png", alt="") 
            div.content-row.content-row--center
              div.content-block.content-block--block-logo
                p.content-text.content-text--left Объединяет работу всех видов мониторинга и способов обнаружения
                img(src="img/row5-img4.png", alt="")
                p.content-text.content-text--right Позволяет вести учёт всех видов нарушений с привязкой к карте и времени (термоточки, вырубки, лесопатологии, свалки, нарушения границ арендованных участков)
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--def Интегрирует аналитические сервисы других систем
            div.item-row
              a.btn(href="https://yadi.sk/i/q8hZT0Djkb7O6w" target="_blank") Смотреть видеоролик
          div.tab-content__item.tab-content__item--sixth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Подсистема приема и регистрации обращений #[span.item-row__text-bage 06.]
            div.item-row
              div.item-row__block.item-row__block--column
                img(src="img/row6-img1.png", alt="")
                p.item-row__text.item-row__text--def.item-row__text--tw Лесохранитель ведет базу звонков о событиях с привязкой к карте, также имеет мобильное приложение (Активный горожанин), позволяющее автоматически определить координаты, присоединить к сообщению фото- и видеоматериалы, отправить сообщение в систему и отработать его.
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row6-img2.png", alt="")
                div.info-block
                  span Пример:    
                  p фиксации в системе обращения гражданина по телефону 
          div.tab-content__item.tab-content__item--seventh
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Система автоматизированного оповещения #[span.item-row__text-bage 07.]
            div.item-row
              div.item-row__block.item-row__block--substrate
                p При обнаружении пожара определяются его координаты, лесничество, участковое лесничество, номер квартала.
            div.item-row
              div.item-row__block
                p.item-row__text.item-row__text--fw.item-row__text--sub Лесохранитель имеет настраиваемую систему оповещения о событиях разными методами:
            div.item-row.item-row--contain
              div.item-row.item-row--row
                div.item-row__block.item-row__block--info
                  img(src="img/row7-img1.png", alt="")
                  span Сигнал
                  p Звуковые и визуальные сигналы диспетчерам
                div.item-row__block.item-row__block--info
                  img(src="img/row7-img2.png", alt="")
                  span Смс
                  p СМС - оповещение
                div.item-row__block.item-row__block--info
                  img(src="img/row7-img3.png", alt="").item-image
                  span E-mail
                  p Электронная почта
                div.item-row__block.item-row__block--info
                  img(src="img/row7-img4.png", alt="")
                  span Соц.сети
                  p Мессенджеры типа Viber, Telegram
              div.item-row
                img(src="img/row7-img5.png", alt="")
            div.item-row
              div.item-row__block
                p.item-row__text.item-row__text--fw.item-row__text--def а также подключение к региональным системам оповещения МЧС (КСЭОН, ОКСИОН).
          div.tab-content__item.tab-content__item--eighth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub «Лесохранитель» уже интегрирован со многими системами #[span.item-row__text-bage 08.]
            div.item-row.item-row--row
              div.item-row__block
                img(src="img/row8-img1.png", alt="")
                p Безопасный город (Безопасный регион)
              div.item-row__block
                img(src="img/row8-img2.png", alt="")
                p 112, использующимися в РФ.
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row8-img3.png", alt="")
                div.info-block
                  span Пример Московской области:     
                  p интеграция с системой 112 и получение оповещения из системы 112.
          div.tab-content__item.tab-content__item--ninth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Встроенная система коммуникаций позволяет проводить планерки и совещания, а также хранить всю историю работы и взаимодействия специалистов во время опасных ситуаций, без использования дорогостоящего оборудования видеоконференцсвязи. #[span.item-row__text-bage 09.]
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--fw.item-row__text--def Подсистема коммуникаций:
            div.item-row.item-row--row
              div.item-row__block.item-row__block--info
                img(src="img/row9-img1.png", alt="")
                span Чат
                p общение в реальном времени
              div.item-row__block.item-row__block--info
                img(src="img/row9-img2.png", alt="")
                span Звонки
                p голосовые звонки
              div.item-row__block.item-row__block--info
                img(src="img/row9-img3.png", alt="").item-image
                span Видео
                p видеозвонки
              div.item-row__block.item-row__block--info
                img(src="img/row9-img4.png", alt="")
                span Конфа
                p видеоконференции
              div.item-row__block.item-row__block--info
                img(src="img/row9-img5.png", alt="").item-image
                span Файлы
                p обмен файлами
              div.item-row__block.item-row__block--info
                img(src="img/row9-img6.png", alt="").item-image
                span Раб.стол
                p демонстрация рабочего стола
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row9-img7.png", alt="")
                div.info-block
                  span Пример интерфейса:   
                  p онлайн совещание в «Лесохранителе» 
          div.tab-content__item.tab-content__item--tenth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Подсистема интеграции комплексов дистанционного обнаружения, в том числе на базе беспилотных летательных аппаратов (БПЛА) #[span.item-row__text-bage 10.]
            div.item-row
              div.item-row__block.item-row__block--row
                p Мобильное приложение управления БПЛА – Модуль «ФИНИСТ» - имеет несколько режимов, в том числе передача данных онлайн в центральную систему. Позволяет определять пути полъезда к пожару, площади пожара, кромку пожара, склеивать ортофотопланы, привязывать данные об обследовании к событию и т.д.
                img(src="img/row10-img2.png", alt="")
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row10-img3.png", alt="")
          div.tab-content__item.tab-content__item--eleventh
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub В «Лесохранителе» реализован учет мероприятий противопожарного назначения #[span.item-row__text-bage 11.]
            div.item-row
              div.item-row__block.item-row__block--substrate
                p Так как в «Лесохранителе» реализована полноценная ГИС, то в системе удобно учитывать, отображать и анализировать любую географически привязанную информацию, в том числе изменяющуюся во времени, в частности, мероприятия, противопожарного назначения.
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row11-img1.png", alt="")
                div.info-block
                  span Пример:   
                  p учет объектов противопожарного назначения – аншлагов
          div.tab-content__item.tab-content__item--twelfth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub В «Лесохранителе» реализован оперативный учет и формирование отчётности - автоматизированное заполнение и ведение основной отчётности в соответствии с регламентами лесной отрасли, в том числе карточка пожара и сводные формы (1-ЛО, акт о пожаре, оперативные и ежедневные формы, статистика и т.д.). #[span.item-row__text-bage 12.]
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row12-img1.png", alt="")
                div.info-block
                  span Пример:    
                  p заполнения 1-ЛО в «Лесохранителе»
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row12-img2.png", alt="")
                div.info-block
                  span Пример:     
                  p отчётов в «Лесохранителе»
          div.tab-content__item.tab-content__item--thirteenth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Подсистема обработки и визуализации аналитической информации позволяет формировать аналитические отчеты в любых разрезах на уровне любой территории из-за наличия в платформе встроенной системы отчётности и фиксации всех телематических данных от сил и средств, устройств мониторинга, планируемых и реальных маршрутов различных видов патрулей. #[span.item-row__text-bage 13.]
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row13-img1.png", alt="")
                div.info-block
                  span Пример:    
                  p визуализация данных по пожарам за сутки
          div.tab-content__item.tab-content__item--fourteenth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Видеостена существенно помогает диспетчерам в работе РДС часть системы «Лесохранитель» - это гибкий настраиваемый инструмент для наглядного отображения оперативной обстановки и отчётности на большом экране, например - укрупненные изображения с одной/нескольких камер при потенциально опасной ситуации с дублированием интерфейса диспетчера (карта, слои, координаты, силы и средства, и т.д.). #[span.item-row__text-bage 14.]
            div.item-row.item-row--row
              div.item-row__block.item-row__block--column
                img(src="img/row14-img1.png", alt="")
                p.item-row__text.item-row__text--def.item-row__text--tw контроллер видеостены (специализированный сервер с предустановленным программным обеспечением «Лесохранитель»)
              div.item-row__block.item-row__block--column
                img(src="img/row14-img2.png", alt="")
                p.item-row__text.item-row__text--def.item-row__text--tw панели для вывода изображения, объединённые в единый комплекс и функционирующие под управление контроллера видеостены.
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row14-img3.png", alt="")
          div.tab-content__item.tab-content__item--fifteenth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Расчёт класса пожарной опасности и метеоданные к «Лесохранителю» подключены открытые слои с погодными условиями и их прогнозом и на основе их данных рассчитывается класс пожарной опасности в каждой точке мониторинга #[span.item-row__text-bage 15.]
            div.item-row
              p.item-row__text.item-row__text--def Возможно подключение данных любых установленных в регионах метеостанций, а также сводных слоёв погоды от Росгидромета.
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row15-img1.png", alt="")
                div.info-block
                  span Пример:  
                  p прогноз погоды в заданной точке
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row15-img2.png", alt="")
                div.info-block
                  span Пример:    
                  p расчёт класса пожарной опасности в заданной точке
          div.tab-content__item.tab-content__item--sixteenth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Моделирование распространения пожара в реальных погодных условиях: #[span.item-row__text-bage 16.]
            div.item-row
              p.item-row__text.item-row__text--def С учетом данных о породном составе леса, классе пожарной опасности, силе и направлении ветра, рельефе, природных и иных препятствиях и особенностях территории в «Лесохранителе» реализована визуализированная модель распространения пожара 
            div.item-row
              div.item-row__block.item-row__block--column.item-row__block--fg
                div.image-block
                  img(src="img/row16-img1.png", alt="")
                div.info-block
                  span Пример:   
                  p моделирования распространения пожара
          div.tab-content__item.tab-content__item--seventeenth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Управление наземным и авиационным патрулированием #[span.item-row__text-bage 17.]
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--def Модуль - мобильное приложение «Финист» прозрачно интегрирован с «большой» системой «Лесохранитель», работающей на сервере. Это позволяет в онлайн режиме:
            div.item-row.item-row--row
              div.item-row__block.item-row__block--info
                img(src="img/row17-img1.png", alt="")
                span Мониторить
              div.item-row__block.item-row__block--info
                img(src="img/row17-img2.png", alt="")
                span Управлять
              div.item-row__block.item-row__block--info
                img(src="img/row17-img3.png", alt="")
                span Контролировать
              div.item-row__block.item-row__block--info
                img(src="img/row17-img4.png", alt="")
                span Планировать
          div.tab-content__item.tab-content__item--eighteenth
            h2.item-header.item-header--tc Комплексная платформа
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--pl.item-row__text--pr.item-row__text--fw.item-row__text--sub Модуль интеграции с фотоловушками #[span.item-row__text-bage 18.]
            div.item-row
              p.item-row__text.item-row__text--def Инструмент борьбы с несанкционированными свалками в лесных массивах
            div.item-row
              p.item-row__text.item-row__text--tc.item-row__text--ma.item-row__text--def Основные преимущества:
            div.item-row.item-row--row
              div.item-row__block.item-row__block--column
                div.item-row__block
                  p.item-row__text.item-row__text--sub Мобильность комплекса (снаряженная масса составляет 4 кг)
                div.item-row__block
                  p.item-row__text.item-row__text--def Автономность (функционирование до пяти месяцев на одном заряде аккумулятора)
                div.item-row__block
                  p.item-row__text.item-row__text--sub Работа в «суровых условиях» (от -40 до + 50, независимо от погоды)
                div.item-row__block
                  p.item-row__text.item-row__text--mr.item-row__text--def Малое потребления интернет трафика
                  p.item-row__text.item-row__text--sub Цена комплекса
                div.item-row__block
                  p.item-row__text.item-row__text--def Модуль позволяет обрабатывать данные с большого числа фотоловушек
              div.item-row__block.item-row__block--column.item-row__block--image
                img(src="img/row18-img1.jpg", alt="")
      section.section.section--tab-content
        div.content-container#content-container-4
          div.content-row.content-row--info
            div.content-block.content-block--info
              div.image-block
                img(src="img/row4-img2.png", alt="")
              div.info-block
                span Пример Московской области:   
                p Лесохранитель интегрирован с РГИС – ГИС - системой региона. Справа - перечень слоёв.
            div.content-block.content-block--info
              div.image-block
                img(src="img/row4-img3.png", alt="")
              div.info-block
                span Пример сопоставления границ:
                ul
                  li - Свалки твердых бытовых отходов и её защитной зоны
                  li - Водоохранных зон
                  li - Прибрежных защитных полос
                  li - Сельхозугодий 
            div.content-block.content-block--info
              div.image-block
                img(src="img/row4-img4.png", alt="")
              div.info-block
                span Пример маршрутизации с учётом дорожной обстановки: 
                p В этот же интерфейс может быть подключена любая другая техника, оснащенная разными датчиками ГЛОНАСС - городские и областные автобусы, машины скорой помощи, патрульные МВД и т.д.
            div.content-block.content-block--info
              div.image-block
                img(src="img/row4-img5.png", alt="")
              div.info-block
                span Пример работы на планшете локально без доступа к интернету:   
                p Расчет маршрута движения к заданной точке (дым, пожар)
        div.content-container#content-container-5
          div.content-row.content-row--info
            div.content-block.content-block--info
              div.image-block
                img(src="img/row5-img5.png", alt="")
              div.info-block
                span Пример:   
                p Отображение слоя полигональных объектов появившихся вырубок за определенный период, сформированного на основе партнерского сервиса анализа космоснимков.
            div.content-block.content-block--info
              div.image-block
                img(src="img/row5-img6.png", alt="")
              div.info-block
                span Пример:
                p Сводная таблица карточек пожаров по региону с указанием различных способов обнаружения  
        div.content-container#content-container-7
          div.content-row.content-row--center
            div.content-block.content-block--sub
              p Так как камера ходит по кругу, система реагирует на один и тот же дым каждый раз, когда его «видит». Чтобы уменьшить нагрузку на оператора, и не обрабатывать один и тот же дым несколько раз, все дым-точки группируются по территориальному и временному признаку в центре обработки дым-точек. При этом система фиксирует не только когда была сработка, но и когда её обработал оператор:
          div.content-row.content-row--info
            div.content-block.content-block--info
              div.image-block
                img(src="img/row7-img6.png", alt="")
            div.content-block.content-block--info
              div.image-block
                img(src="img/row7-img7.png", alt="")
            div.content-block.content-block--info
              div.image-block
                img(src="img/row7-img8.png", alt="")
              div.info-block
                span Пример: 
                p визуального оповещения в интерфейсе, от каждого оповещения можно перейти к просмотру камеры (красные треугольники на карте и оранжевые круги справа в списке камер)
            div.content-block.content-block--info
              div.image-block
                img(src="img/row7-img9.png", alt="")
              div.info-block
                span Пример:   
                p оповещения по электронной почте
        div.content-container#content-container-8
          div.content-row.content-row--center
            div.content-block.content-block--sub
              p Интеграция является двунаправленной:
          div.content-row.content-row--center
            div.content-block.content-block--block-logo
              p.content-text.content-text--left «Лесохранитель» принимает карточки потенциально опасных явлений из системы 112 и возвращает их обратно в систему 112 в случае возгорания на муниципальной земле.
              img(src="img/row8-img4.png", alt="")
              p.content-text.content-text--right В системе 112 могут генерироваться карточки потенциально опасных событий по данным из системы «Лесохранитель».
          div.content-row.content-row--center
            div.content-block.content-block--def
              p Видеопотоки от точек мониторинга «Лесохранитель» выведены в интерфейсы дежурных систем 112
        div.content-container#content-container-10
          div.content-row.content-row--center
            div.content-block.content-block--def
              p «ФИНИСТ» решает задачи:
          div.content-row.content-row--row
            div.content-block.content-block--substrate
              img(src="img/row10-img5.png", alt="")
              p Уменьшение времени обнаружения очага лесного пожара
            div.content-block.content-block--substrate
              img(src="img/row10-img6.png", alt="")
              p Визуальное подтверждение и уточнение координат и границ пожара
            div.content-block.content-block--substrate
              img(src="img/row10-img7.png", alt="")
              p Определение площади пожара на момент обнаружения
            div.content-block.content-block--substrate
              img(src="img/row10-img8.png", alt="")
              p Выявление вида и силы горения на кромке пожара
            div.content-block.content-block--substrate
              img(src="img/row10-img9.png", alt="")
              p Оперативная передача параметров пожара в РДС
            div.content-block.content-block--substrate
              img(src="img/row10-img10.png", alt="")
              p Уменьшение рисков для специалистов, занимающихся разведкой
            div.content-block.content-block--substrate
              img(src="img/row10-img11.png", alt="")
              p Работа с картографическими материалами в онлайн и оффлайн
            div.content-block.content-block--substrate
              img(src="img/row10-img12.png", alt="")
              p Функционал системы Лесохранитель для мобильных групп разведки обстановки
          div.content-row.content-row--center.content-row--mt
            div.content-block.content-block--def
              p Миссии модуля «ФИНИСТ»:
          div.item-row.item-row--row
            div.item-row__block.item-row__block--info
              img(src="img/row10-img13.png", alt="").item-image
              span ФИНИСТ
              p Мобильная наблюдательная вышка
            div.item-row__block.item-row__block--info
              img(src="img/row10-img14.png", alt="").item-image.item-image--top
              span ФИНИСТ
              p Обследование территории по заданному маршруту
            div.item-row__block.item-row__block--info
              img(src="img/row10-img15.png", alt="").item-image.item-image--center
              span ФИНИСТ
              p Свободный полет с ручным управлением
            div.item-row__block.item-row__block--info
              img(src="img/row10-img16.png", alt="").item-image.item-image--right
              span ФИНИСТ
              p Обследование потенциально опасного объекта (например, пожара)
            div.item-row__block.item-row__block--info
              img(src="img/row10-img17.png", alt="").item-image.item-image--bottom
              span ФИНИСТ
              p Создание ортофотомозаики заданной территории
          div.content-row.content-row--center.content-row--mt
            div.content-block.content-block--sub
              p Модуль ФИНИСТ функционирует на смартфоне или планшете, состыкован с БПЛА и системой Лесохранитель на рабочих местах диспетчеров, в которой также реализован функционал:
          div.content-row.content-row--row
            div.content-block.content-block--substrate
              img(src="img/row10-img18.png", alt="")
              p Представление информации о местоположении квадракоптера и его оператора на карте
            div.content-block.content-block--substrate.content-block--height
              img(src="img/row10-img19.png", alt="")
              p Вывод всей доступной оперативной информации от квадракоптера на монитор оператора (планшет) и мониторы диспетчеров, в том числе в режиме онлайн
            div.content-block.content-block--substrate
              img(src="img/row10-img20.png", alt="")
              p Привязка информации квадракоптера (маршрут, фото, видео) к сообщению о потенциально опасном объекте
            div.content-block.content-block--substrate
              img(src="img/row10-img21.png", alt="")
              p Обследование и вывод оперативной обстановки на интерактивную карту
            div.content-block.content-block--substrate
              img(src="img/row10-img22.png", alt="")
              p Определение площадей обследуемых объектов
            div.content-block.content-block--substrate
              img(src="img/row10-img23.png", alt="")
              p Сервис медиа-архива
          div.content-row.content-row--row
            div.content-block.content-block--sub.content-block--color
              img(src="img/row10-img24.png", alt="")
              p Экономия времени
            div.content-block.content-block--def.content-block--color
              img(src="img/row10-img25.png", alt="")
              p Уменьшение рисков
            div.content-block.content-block--sub.content-block--color
              img(src="img/row10-img26.png", alt="")
              p Документирование
        div.content-container#content-container-14
          div.content-row.content-row--row
            div.content-block.content-block--substrate
              p Опыт работы системы мониторинга и управления «Лесохранитель» в разных субъектах РФ показал значительный положительный эффект от централизации мониторинга в региональных диспетчерских службах (РДС) с параллельным доступом в систему операторов из пожарно-химических станций и лесничеств к ограниченному количеству камер (по районам ответственности)
            div.content-block.content-block--substrate
              p Привлечение к мониторингу специалистов «с мест» позволяет быстрее среагировать на оповещение - не нужно ехать «вслепую» по координатам, указанным диспетчером, можно «осмотреться» - наметить ориентиры. Тем более, специалисты на местах «свою» местность знают
            div.content-block.content-block--substrate
              p Такой подход позволяет, например, снизить количество выездов на дымы, связанные со сжиганием порубочных остатков - лесничие с одного взгляда определяют, что происходит
            div.content-block.content-block--substrate
              p Видеостена представляет собой совокупность аппаратно-программных средств, интегрированных в общую информационную среду системы мониторинга
        div.content-container#content-container-17
          div.content-row
            div.content-block.content-block--sub.content-block--fw
              img(src="img/row17-img6.png", alt="")
              p Наземные и авиационные патрули
          div.content-row
            div.content-block.content-block--def.content-block--fw
              p Т.е. в ситуационном центре может быть агрегирована не просто информация, которую кто-то «нарисует», а реальные данные с подробностями до марки автомобиля, ФИО водителя или летнаба, серийного номера беспилотника, на основе которых можно строить отчётность любого уровня обобщения и детализации. 
          div.content-row.content-row--row
            div.content-block.content-block--info
              div.image-block
                img(src="img/row17-img7.jpg", alt="")
              div.info-block
                span Пример
                p интерфейса наземного патруля
            div.content-block.content-block--info
              div.image-block
                img(src="img/row17-img8.jpg", alt="")
              div.info-block
                span Пример
                p интерфейса - маршрут авиационного патрулирования
            div.content-block.content-block--info
              div.image-block
                img(src="img/row17-img9.png", alt="")
              div.info-block
                span Пример
                p Управление патрулированием и отчётность в «Лесохранителе»
            div.content-block.content-block--info-container
              div.content-block.content-block--info.content-block--info-first
                div.image-block
                  img(src="img/row17-img10.png", alt="")
                div.info-block
                  span Дополнительный функционал мобильного приложения:
                  ol
                    li расширенная картография
                    li настройки интерфейса
              div.content-block.content-block--info.content-block--info-second
                div.image-block
                  img(src="img/row17-img11.png", alt="")
                div.info-block
                  span Оффлайн карты
              div.content-block.content-block--info.content-block--info-three
                div.image-block
                  img(src="img/row17-img12.png", alt="")
                div.info-block
                  span Чат«Лесохранителя»
        div.content-container#content-container-18
          div.content-row.content-row--center
            div.content-block.content-block--def
              p Возможности:
          div.content-row.content-row--row
            div.content-block.content-block--substrate
              p Автоматическое определение типа объекта (человек/авто).
            div.content-block.content-block--substrate
              p Информация в каждом снимке: температура, дата, время, уровень заряда.
            div.content-block.content-block--substrate
              p Видеофиксация и координаты сброса отходов.
            div.content-block.content-block--substrate
              p Фиксация номера авто.
          div.content-row
            div.content-block.content-block--info.content-block--fw
              div.image-block
                img(src="img/row18-img2.png", alt="")
              div.info-block
                span Пример
                p интерфейса - модуля интеграции с фотоловушками
          div.content-row
            div.content-block.content-block--info.content-block--fw
              div.video-block
                video(src="videos/row18-video1.mov", poster="img/row18-img6.png", controls)
              div.info-block
                span Пример
                p работы видеопотока с модуля
          div.content-row
            div.content-block.content-block--def.content-block--hf
              p Исключительное качество снимков (даже в условиях недостаточной видимости) и современные алгоритмы обработки данных
          div.content-row.content-row--row.content-row--center
            div.content-block.content-block--info
              div.image-block
                img(src="img/row18-img3.png", alt="")
              div.info-block
                span Пример
                p современных алгоритмов обработки данных
            div.content-block.content-block--info
              div.image-block
                img(src="img/row18-img4.png", alt="")
              div.info-block
                span Пример
                p качества снимка в условиях достаточной видимости
            div.content-block.content-block--info.content-block--md
              div.image-block
                img(src="img/row18-img5.png", alt="")
              div.info-block
                span Пример
                p качества снимка в условиях недостаточной видимости
      section.section.section--slider.section--slider-bg
        h3 Как это выглядит
        div.slider-views
          div.slider-views__slide
            img.lazy(data-src="img/view1.png" alt="")
          div.slider-views__slide
            img.lazy(data-src="img/view2.png" alt="")
          div.slider-views__slide
            img.lazy(data-src="img/view3.png" alt="")
          div.slider-views__slide
            img.lazy(data-src="img/view4.png" alt="")
          div.slider-views__slide
            img.lazy(data-src="img/view1.png" alt="")
      section.section.section--slider
        h3 Обнаруживаем лесные, степные, техногенные, дневные и ночные дымы 
        div.slider-observer
          a.slider-observer__slide(data-lightbox="observer" href="img/observer1.jpg")
            img.lazy(data-src="img/observer1.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer2.jpg")
            img.lazy(data-src="img/observer2.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer3.jpg")
            img.lazy(data-src="img/observer3.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer4.jpg")
            img.lazy(data-src="img/observer4.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer5.jpg")
            img.lazy(data-src="img/observer5.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer6.jpg")
            img.lazy(data-src="img/observer6.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer7.jpg")
            img.lazy(data-src="img/observer7.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer8.jpg")
            img.lazy(data-src="img/observer8.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer9.jpg")
            img.lazy(data-src="img/observer9.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer10.jpg")
            img.lazy(data-src="img/observer10.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer11.jpg")
            img.lazy(data-src="img/observer11.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer12.jpg")
            img.lazy(data-src="img/observer12.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer13.jpg")
            img.lazy(data-src="img/observer13.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer14.jpg")
            img.lazy(data-src="img/observer14.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer15.jpg")
            img.lazy(data-src="img/observer15.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer16.jpg")
            img.lazy(data-src="img/observer16.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer17.jpg")
            img.lazy(data-src="img/observer17.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer22.jpg")
            img.lazy(data-src="img/observer22.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer18.jpg")
            img.lazy(data-src="img/observer18.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer28.jpg")
            img.lazy(data-src="img/observer28.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer19.jpg")
            img.lazy(data-src="img/observer19.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer23.jpg")
            img.lazy(data-src="img/observer23.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer24.jpg")
            img.lazy(data-src="img/observer24.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer20.jpg")
            img.lazy(data-src="img/observer20.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer21.jpg")
            img.lazy(data-src="img/observer21.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer25.jpg")
            img.lazy(data-src="img/observer25.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer26.jpg")
            img.lazy(data-src="img/observer26.jpg" alt="")
          a.slider-observer__slide(data-lightbox="observer" href="img/observer27.jpg")
            img.lazy(data-src="img/observer27.jpg" alt="")
      section.section.section--items
        h2 Почему нас выбирают?
        div.items
          div.items__item
            img(src="img/item1.png" alt="")
            p Надёжность, точность, скорость обнаружений и оповещений за счёт запатентованных технологий и алгоритмов
          div.items__item
            img(src="img/item2.png" alt="")
            p Комплексность – 18 подсистем: вся информация, инструменты и отчёты в едином интерфейсе с едиными данными
            a(href="#tabs") Подробнее
          div.items__item
            img(src="img/item3.png" alt="")
            p Все виды мониторинга – наземный, авиационный, космический
          div.items__item
            img(src="img/item4.png" alt="")
            p Все способы обнаружения – от обращений граждан до автоматической аналитики 
          div.items__item
            img(src="img/item5.png" alt="")
            p Отсутствие ограничений на количество пользователей и камер, работающих одновременно
          div.items__item
            img(src="img/item6.png" alt="")
            p Прозрачная интеграция с другими системами, в том числе, 112 и «Безопасный город»
          div.items__item
            img(src="img/item7.png" alt="")
            p Работа с любыми устройствами (смартфоны, планшеты, компьютеры…) и любыми операционными системами
          div.items__item
            img(src="img/item8.png" alt="")
            p Отсутствие необходимости установки программного обеспечения на устройства пользователей
          div.items__item
            img(src="img/item9.png" alt="")
            p Полный отказ от импортного программного обеспечения – оптимизирована работа с российскими операционными системами
          div.items__item
            img(src="img/item10.png" alt="")
            p Возможность работы в полностью закрытом контуре на оборудовании Заказчика 
          div.items__item
            img(src="img/item11.png" alt="")
            p Собственная система автоматизированного проектирования и выбора оптимального расположения точек мониторинга
          div.items__item
            img(src="img/item12.png" alt="")
            p Мобильные приложения для авиационного, наземного патрулирования и управления БПЛА
          div.items__item.items__item--align
            img(src="img/item13.png" alt="")
            p Наличие контрольно-отчётных функций о работе самой системы и её пользователей
          div.items__item.items__item--large
            img(src="img/item14.png" alt="")
            p Ответственность за систему в целом на одном квалифицированном исполнителе с государственными лицензиями и проверенной репутацией своими специалистами и техникой обеспечиваем весь цикл работ: проектирование, поставка, монтаж, строительство, обучение и поддержка пользователей, модернизация.
            a(href="about.html") Подробнее
      section.section.section--video
        h2 Почему видеомониторинг?
        h3 По сравнению с космическим или авиапатрулированием видеомониторинг в несколько раз более:
        div.video
          div.video__item.video__item--default
            img.video__item-img(src="img/video1.png" alt="")
            p.video__item-header Оперативный
            p камера делает оборот 360 градусов примерно каждые 10-12 минут, в то время как авиапатруль – не более 4 раз в сутки, космический и того реже
          div.video__item
            img.video__item-img.video__item-img--mt(src="img/video2.png" alt="")
            p.video__item-header Независимый от человеческого фактора
            p определение дыма автоматизировано, диспетчер задействован только в процессе подтверждения и классификации
          div.video__item.video__item--default
            img.video__item-img(src="img/video3.png" alt="")
            p.video__item-header Дешёвый
            p достаточно сравнить бюджеты с авиапатрулированием, и плюс уменьшение ущерба из-за раннего обнаружения
          div.video__item.video__item--large
            img.video__item-img.video__item-img--mt(src="img/video4.png" alt="")
            p.video__item-header Независимое от погодных условий, времени суток и беспрецедентно надежные
            p камеры AXIS работают от -50 до +50 при любой погоде. За 9 лет работы Лесохранителя - более 900 точек мониторинга - оборудование показало себя как очень надёжное
          div.video__item.video__item--default.video__item--large
            img.video__item-img.video__item-img--mt(src="img/video5.png" alt="")
            p.video__item-header Безопасный
            p Лесохранитель определяет координаты дыма с погрешностью до 100 метров и моментально оповещает всех, кого требуется, без опасности для человека. С помощью приложения для БПЛА можно определить площадь пожара, длину кромки и т.д., не подвергая опасности специалистов – не нужно идти-ехать-лететь к пожару