extends common/layout

block content
  main.main
    section.section
      h2 Почему нас выбирают?
      div.items
        div.items__item
          img(src="../images/item1.png")
          p Надёжность, точность, скорость обнаружений и оповещений за счёт запатентованных технологий и алгоритмов
        div.items__item
          img(src="../images/item1.png")
          p Комплексность – 17 подсистем: вся информация, инструменты и отчёты в едином интерфейсе с едиными данными
        div.items__item
          img(src="../images/item1.png")
          p Все виды мониторинга – наземный, авиационный, космический
        div.items__item
          img(src="../images/item1.png")
          p Все способы обнаружения – от обращений граждан до автоматической аналитики 
        div.items__item
          img(src="../images/item1.png")
          p Отсутствие ограничений на количество пользователей и камер, работающих одновременно
        div.items__item
          img(src="../images/item1.png")
          p Прозрачная интеграция с другими системами, в том числе, 112 и «Безопасный город»
        div.items__item
          img(src="../images/item1.png")
          p Работа с любыми устройствами (смартфоны, планшеты, компьютеры…) и любыми операционными системами
        div.items__item
          img(src="../images/item1.png")
          p Отсутствие необходимости установки программного обеспечения на устройства пользователей
        div.items__item
          img(src="../images/item1.png")
          p Полный отказ от импортного программного обеспечения – оптимизирована работа с российскими операционными системами
        div.items__item
          img(src="../images/item1.png")
          p Возможность работы в полностью закрытом контуре на оборудовании Заказчика 
        div.items__item
          img(src="../images/item1.png")
          p Собственная система автоматизированного проектирования и выбора оптимального расположения точек мониторинга
        div.items__item
          img(src="../images/item1.png")
          p Мобильные приложения для авиационного, наземного патрулирования и управления БПЛА
        div.items__item
          img(src="../images/item1.png")
          p Наличие контрольно-отчётных функций о работе самой системы и её пользователей
