extends common/layoutSub

block vars
    - var pageTitle='Лесохранитель: Новости и пресс-релизы';

block content
    main.main.main--partner
        .wrapper
            h1 Лесохранитель: Новости и пресс-релизы
            h2 
                span Новости и пресс-релизы
            section.section.information
                p ГАУ НО «Нижегородский лесопожарный центр» сообщает, что в лесах Нижегородской области объявлен пожароопасный сезон: с 7 апреля 2020 года — в южной части, с 13 апреля 2020 года — в северной части области.
                img(src="../img/information2.jpg", alt="")
                img(src="../img/information1.jpg", alt="")
