extends common/layoutSub

block vars
    - var pageTitle='Партнеры: Лесохранитель - Наши партнеры';

block content
    main.main.main--partner
        h1 Партнёры
        h2 
            span Создавать и развивать системы «Лесохранитель» 
            span В регионах России нам помогают наши партнёры:
        section.section.section--partners
            div.partners
                div.partners-item
                    img(src="img/partner1.png", alt="")
                    h3 
                        span ПАО «МегаФон» 
                        span Руслан Алиев
                    p Руководитель по развитию региональных продаж цифровых проектов
                    a(href="mailto:Ruslan.A.Aliev@MegaFon.ru") #[img(src="img/mail.svg" alt="")] Ruslan.A.Aliev@MegaFon.ru
                    a(href="tel:+79256962437") #[img(src="img/phone.svg" alt="")] +7 925 696 2437
                div.partners-item
                    img(src="img/partner2.png", alt="")
                    h3 
                        span ПАО «Вымпелком»
                        span Алексей Куприянов
                    p Руководитель по работе с государственными заказчиками
                    a(href="mailto:AEKupriyanov@beeline.ru") #[img(src="img/mail.svg" alt="")] AEKupriyanov@beeline.ru
                    a(href="tel:+79161002062") #[img(src="img/phone.svg" alt="")] +7 916 100 2062
                div.partners-item
                    img(src="img/partner3.png", alt="")
                    h3 
                        span ПАО «Ростелеком»
                        span Александр Леготкин
                    p Заместитель директора филиала-Директор по прикладным проектам Ямало-Ненецкого филиала
                    a(href="mailto:legotkin-aa@ural.rt.ru") #[img(src="img/mail.svg" alt="")] legotkin-aa@ural.rt.ru
                    a(href="tel:+79028278757") #[img(src="img/phone.svg" alt="")] +7 902 827 87 57
                div.partners-item
                    img(src="img/partner4.png", alt="")
                    h3 
                        span АО «ЭР-Телеком Холдинг»
                        span Денис Якимив
                    p Ведущий пресейл-инженер
                    a(href="mailto:denis.iakimiv@domru.ru") #[img(src="img/mail.svg" alt="")] denis.iakimiv@domru.ru
                    a(href="tel:+73422462233") #[img(src="img/phone.svg" alt="")] +7 342 246 22 33
                div.partners-item
                    img(src="img/partner5.png", alt="")
                    h3 
                        span ОАО «Псковская ГТС» 
                        span Юрий Екимов
                    p Генеральный директор
                    a(href="mailto:Yuriy.Ekimov@wifire.ru") #[img(src="img/mail.svg" alt="")] Yuriy.Ekimov@wifire.ru
                    a(href="tel:+74959802800") #[img(src="img/phone.svg" alt="")] +7 495 980 28 00 д. 12-01
                div.partners-item
                    img(src="img/partner1.png", alt="")
                    h3 
                        span ООО «Многоцелевая подвижная связь» 
                        span Виталий Холманских
                    p Заместитель директора
                    a(href="mailto:mps_navi@mail.ru") #[img(src="img/mail.svg" alt="")] mps_navi@mail.ru
                    a(href="tel:+74732602002") #[img(src="img/phone.svg" alt="")] +7 473 260 20 02
                div.partners-item
                    img(src="img/partner7.png", alt="")
                    h3 
                        span ООО «Системные решения» 
                        span Смирнов Олег
                    p Директор
                    a(href="mailto:Ruslan.A.Aliev@MegaFon.ru") #[img(src="img/mail.svg" alt="")] SYSrtender@gmail.com
                    a(href="tel:+79116978398") #[img(src="img/phone.svg" alt="")] +7 911 697 83 98
                div.partners-item
                    img(src="img/partner8.png", alt="")
                    h3 
                        span ООО «ПИК»
                        span Соболев Дмитрий
                    p Директор
                    a(href="mailto:Ruslan.A.Aliev@MegaFon.ru") #[img(src="img/mail.svg" alt="")] PIK.tender@gmail.com
                    a(href="tel:+79113696636") #[img(src="img/phone.svg" alt="")] +7 911 36 966 36
                div.partners-item
                    img(src="img/partner9.png", alt="")
                    h3 
                        span ООО «ИНФОГРЭЙС»
                        span Низовцев Дмитрий
                    p Директор
                    a(href="mailto:dnizovtsev@citorus.ru") #[img(src="img/mail.svg" alt="")] dnizovtsev@citorus.ru
                    a(href="tel:+79265335556") #[img(src="img/phone.svg" alt="")] +7 926 533 55 56
                div.partners-item
                    img(src="img/partner10.png", alt="")
                    h3 
                        span ООО «Волшебный мир компьютеров»
                        span Солпековский Николай
                    p Директор
                    a(href="mailto:n_solpekovsky@mail.ru") #[img(src="img/mail.svg" alt="")] n_solpekovsky@mail.ru
                    a(href="tel:+79813508086") #[img(src="img/phone.svg" alt="")] +7 981 350 8086